*       {margin: 0; padding: 0; box-sizing: border-box;}
body    {font-family: 'DM Sans', sans-serif;}
section {display: flex; flex-direction: column ;height: 100vh;}
.section1, .section3, .section5 {background: #16171c;}
.section2, .section4, .section6 {background: #000000;}

/* --- --- --- SECTION1 --- --- --- */
/* --- HEADER --- */
.section1 header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    height: 10vh; width: auto;
    padding: 0px 1vw;
    background: #1d1d24;
}

.section1 header img {height: 50px; width: auto;}

.section1 header ul {
    display: flex; flex-direction: row;
    font-size: 20px; gap: 2.5vw;}
.section1 header ul li {list-style: none; color: white;}

hr {height: 0.5vh; background: #446244; border: none;}

/* --- BODY --- */
.section1 .parent {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
    height: 89.5vh; width: auto;
    padding-top: 5%; padding-bottom: 5%; padding-left: 5%;}
.section1 .parent .child {
    display: flex; flex-direction: row;
    height: 100%; width: 100%;}

.section1 .parent .child img {height: 100%; width: auto;}
.section1 .parent .child .content {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    height: auto; width: 100%;
    margin: 1.5% 0%; padding: 1.5% 1.5%;
    background: #1d1d24;}

.section1 .parent .child .content h1 {font-size: 300%; color: #ffffff;}
.section1 .parent .child .content h2 {font-size: 225%; color: #7ce27c;}
.section1 .parent .child .content p  {padding: 25% 0%;font-size: 175%; color: #ffffff;}





/* --- --- --- SECTION 2 --- --- --- */
/* --- HEADER --- */
.section2 header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 20vh; width: auto;}
.section2 h1 {font-size: 350%; color: white; z-index: 2;}

/* --- BODY --- */
.section2 {align-items: center; justify-content: center;}
.section2 .body {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 80vh; width: auto;
    margin: 0% 5%; margin-bottom: 2.5%;}

.section2 .body .box {    
    display: flex; flex-direction: row;
    align-items: flex-start; justify-content: center;
    height: 80%; width: 33.3%;
    padding: 5% 5%;
    background: #121712;}
.section2 .body img {height: 100%; width: 30%; z-index: 2;}
.section2 .body div p {
    text-align: justify; letter-spacing: 0.5px; font-size: 19px;
    color: white;}

.section2 .rectangle {
    height: 100vh; width: 45vh;
    position: absolute; z-index: 1;
    background: #1d1d24;}





/* --- --- --- SECTION 3 --- --- --- */
/* --- HEADER --- */
.section3 header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 20vh; width: auto;}
.section3 h1 {font-size: 350%; color: white;}

/* --- BODY --- */
.section3 {
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-evenly;}
.section3 .center {height: 100%; width: 32.5vw; background: #1d1d24;}
.section3 .middle {height: 85%; width:  16.25vw; background: #1d1d24;}
.section3 .side   {height: 60%; width: 8.125vw; background: #1d1d24;}

.section3 .container {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    height: 80vh; width: auto;
    padding: 0% 10%; gap: 10%;}
.section3 .container .content1,
.section3 .container .content2,
.section3 .container .content3,
.section3 .container .content4,
.section3 .container .content5{
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    height: auto; width: 100%;
    color: #7ce27c;}

.section3 .container .content1 span {font-size: 75%; text-align: end; width: 70%;}
.section3 .container .content2 span {font-size: 75%; text-align: end; width: 90%;}
.section3 .container .content3 span {font-size: 75%; text-align: end; width: 80%;}
.section3 .container .content4 span {font-size: 75%; text-align: end; width: 60%;}
.section3 .container .content5 span {font-size: 75%; text-align: end; width: 50%;}

.section3 .container h6 {font-size: 100%;}

.section3 .container .content1 .parent {height: 3.75vh; width: 100%; background: #446244;}
.section3 .container .content1 .parent .child {height: 3.75vh; width: 70%; background: #ffffff;}
.section3 .container .content2 .parent {height: 3.75vh; width: 100%; background: #446244;}
.section3 .container .content2 .parent .child {height: 3.75vh; width: 90%; background: #ffffff;}
.section3 .container .content3 .parent {height: 3.75vh; width: 100%; background: #446244;}
.section3 .container .content3 .parent .child {height: 3.75vh; width: 80%; background: #ffffff;}
.section3 .container .content4 .parent {height: 3.75vh; width: 100%; background: #446244;}
.section3 .container .content4 .parent .child {height: 3.75vh; width: 60%; background: #ffffff;}
.section3 .container .content5 .parent {height: 3.75vh; width: 100%; background: #446244;}
.section3 .container .content5 .parent .child {height: 3.75vh; width: 50%; background: #ffffff;}





/* --- --- --- SECTION 4 --- --- --- */
/* --- HEADER --- */
.section4 header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 20vh; width: auto; z-index: 2;}
.section4 h1 {
    font-size: 350%; color: #7ce27c; background: #1d1d24; padding: 1.5% 1.5%;
    border-style: solid; border-width: 10px; border-color: black;}

/* --- BODY --- */
.section4 .main {
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-evenly;
    height: 80vh; width: auto;
    margin: 0% 10%; z-index: 2;}

.section4 .main .top, .section4 .main .bottom {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 40%; width: 100%; gap: 5%;}

.section4 .main .top div, .section4 .main .bottom div {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    height: 80%; width: 40%; background: #1d1d24;
    border-style: solid; border-width: 10px; border-color: black;
    padding: 1% 1%;}
.section4 .main h6 {font-size: 175%; text-align: center;color: white;}
.section4 .main p {font-size: 100%;color: #7ce27c;}

.section4 .background {
    position: absolute;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    height: 100%; width: 100%; z-index: 1;}

.section4 .empty {
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
    height: 100%; width: 19%;}
.section4 .empty div {height: 20%; width: 100%; background: #121712;}

.section4 .center {
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
    height: 100%; width: 19%;}
.section4 .center div {height: 25%; width: 100%; background: #121712;}

.section4 .column {height: 100%; width: 19%; background: #121712;}





/* --- --- --- SECTION 5 --- --- --- */
/* --- HEADER --- */
.section5 header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 20vh; width: auto;}
.section5 h1 {font-size: 350%; color: white;}

/* --- BODY --- */
.section5 .main {
    display: flex; flex-direction: row;
    align-items: flex-start; justify-content: center;
    height: 80vh; width: auto;}
.section5 .main img {border: 1vh solid #7ce27c;}





/* --- --- --- SECTION 6 --- --- --- */
/* --- HEADER --- */
.section6 header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    height: 30vh; width: auto;
    margin: 0vh 7.5vw; padding-bottom: 10vh; background: #121712;}
.section6 h1 {font-size: 350%; color: white;}


/* --- BODY --- */
.section6 .main {
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    height: 49.5vh; width: auto;
    margin: 0vh 7.5vw; margin-bottom: 10vh;}

.section6 .main div {
    display: flex; flex-direction: column;
    align-items: center; justify-content: flex-start;
    height: 100%; width: 32.5%; background-color: #1d1d24;
    padding: 1% 1%; gap: 1.5vh;}

.section6 .main img {height: 10vh; width: 10vh; border-radius: 100%;}
.section6 .main .name {color: #7ce27c;}
.section6 .main .rating {color: white;}
.section6 .main p {text-align: justify;color: #7ce27c;}

/* --- FOOTER --- */
hr {height: 0.5vh; background: #446244; border: none;}
.section6 footer {
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    height: 10vh; width: auto;
    padding: 0px 1vw;
    background: #1d1d24;}

.section6 footer img {height: 10px; width: 10px ;}

.section6 footer .left {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    height: auto; width: 50%;}
.section6 footer .left img {height: 4vh; width: auto;}
.section6 footer .left h6 {font-size: 100%; color: white;}

.section6 footer .right {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-end;
    height: auto; width: 50%;
    gap: 5%;}
.section6 footer .right img {height: 7vh; width: auto; border-radius: 100%;}
.section6 footer .right h6 {font-size: 125%; color: white;}